/* CSS Modern Reset */

* {
  /* outline: 3px solid orange; */
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* Typography / Visuals */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Custom Properties */

:root {
  /* Primary Colors */
  --bg-primary: hsl(0, 1%, 33%);
  --bg-dark-light: #4a4a4a;
  --bg-dark-medium: #3b3b3b;
  --bg-dark-heavy: #2e2e2e;
  --bg-board: rgba(14, 32, 65);
  --bg-sunk-ship: #480c0c;

  /* Text Colors */
  --text-primary: #e6e6e6;
  --text-light: #fff;
  --text-logo: #6b6a6a;

  /* Border & Accent Colors */
  --border-light: hsl(0, 0%, 68%);
  --border-dark: #1f1f1f;
  --accent-blue-1: #00d2ff;
  --accent-blue-2: #3a47d5;
  --accent-purple: purple;
  --accent-red: red;

  /* Gradient Colors */
  --gradient-shine: #232526;
  --gradient-bright: #414345;
  --gradient-accent-1: #777;
  --gradient-accent-2: #222;

  /* Logo Shadow Colors */
  --shadow-1: #fff;
  --shadow-2: #2e2e2e;
  --shadow-3: #2c2c2c;
  --shadow-4: #2a2a2a;
  --shadow-5: #282828;
  --shadow-6: #262626;
  --shadow-7: #242424;
  --shadow-8: #222;
  --shadow-9: #202020;
  --shadow-10: #1e1e1e;
  --shadow-11: #1c1c1c;
  --shadow-12: #1a1a1a;
  --shadow-13: #181818;
  --shadow-14: #161616;
  --shadow-15: #141414;
  --shadow-16: #121212;

  /* Transparency Colors */
  --rgba-white-heavy: rgba(255, 255, 255, 0.2);
  --rgba-white-light: rgba(255, 255, 255, 0.18);
  --rgba-white-lighter: rgba(255, 255, 255, 0.08);
  --rgba-black-medium: rgba(0, 0, 0, 0.2);
  --rgba-black-heavy: rgba(0, 0, 0, 0.6);
  --rgba-black-darkest: rgba(0, 0, 0, 0.9);
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
  background: radial-gradient(
    circle at center,
    #3f3f3f 0%,
    #2f2f2f 40%,
    #1e1e1e 100%
  );
}

body {
  /* Grid / Flex Layout */
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content max-content max-content;
  row-gap: 1.75rem;

  /* Box Model */
  padding-bottom: 28px;

  /* Typography / Visuals */
  font-family: 'Progress', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;

  /* Miscellaneous / Interactions */
  box-shadow: inset 0 0 7.5rem rgba(0, 0, 0, 0.4);
}

/* Text / Font */

p {
  color: var(--text-primary);
  font-size: 1.25rem;
}

@font-face {
  font-family: Progress;
  src: url(/src/fonts/PROGRESS\ PERSONAL\ USE.ttf);
}

/* Logo / Info Panel */

.logo-text {
  /* Box Model */
  margin: 0.625rem;

  /* Typography / Visuals */
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  color: var(--text-logo);

  /* Miscellaneous / Interactions */
  text-shadow:
    0 -1px 0 var(--shadow-1),
    0 1px 0 var(--shadow-2),
    0 2px 0 var(--shadow-3),
    0 3px 0 var(--shadow-4),
    0 4px 0 var(--shadow-5),
    0 5px 0 var(--shadow-6),
    0 6px 0 var(--shadow-7),
    0 7px 0 var(--shadow-8),
    0 8px 0 var(--shadow-9),
    0 9px 0 var(--shadow-10),
    0 10px 0 var(--shadow-11),
    0 11px 0 var(--shadow-12),
    0 12px 0 var(--shadow-13),
    0 13px 0 var(--shadow-14),
    0 14px 0 var(--shadow-15),
    0 15px 0 var(--shadow-16),
    0 1.375rem 1.875rem var(--rgba-black-darkest);
}

.info-container {
  /* Box Model */
  position: relative;
  min-width: 28%;
  padding: 0.5rem 2rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--border-dark);

  /* Typography / Visuals */
  text-align: center;
  font-size: 0.875rem;
  color: var(--text-primary);
  letter-spacing: 0.0625rem;
  background:
    radial-gradient(
      ellipse at center,
      var(--rgba-white-light) 0%,
      var(--rgba-white-lighter) 40%,
      var(--rgba-black-medium) 100%
    ),
    linear-gradient(
      to bottom,
      var(--bg-dark-light) 0%,
      var(--bg-dark-medium) 50%,
      var(--bg-dark-heavy) 100%
    );

  /* Miscellaneous / Interactions */
  box-shadow:
    inset 0 1px 0 var(--rgba-white-heavy),
    inset 0 -1px 0 var(--rgba-black-heavy),
    0 2px 4px var(--rgba-black-heavy);
}

.info-container::before,
.info-container::after {
  /* Box Model */
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  /* Typography / Visuals */
  background: radial-gradient(
    circle,
    var(--gradient-accent-1) 0%,
    var(--gradient-accent-2) 70%
  );
}

.info-container::before {
  left: 0.75rem;
}

.info-container::after {
  right: 0.75rem;
}

/* Game Boards */

.boards-container {
  display: flex;
  gap: 3rem;
}

.outter-board-wrap {
  /* Box Model */
  position: relative;
  padding: 0.5625rem;
  border-radius: 0.25rem;

  /* Miscellaneous / Interactions */
  transition: background-position 0.3s ease;
}

.outter-board-wrap:hover {
  background-position: center right;
}

.inner-board-wrap {
  /* Box Model */
  position: relative;
  padding: 0.25rem;

  /* Typography / Visuals */
  background: linear-gradient(
    to right,
    var(--accent-blue-1) 0%,
    var(--accent-blue-2) 60%
  );
}

.inner-board-wrap.enemy {
  /* Visuals */
  background: linear-gradient(
    to right,
    var(--accent-purple),
    var(--accent-red)
  );
}

.human-section,
.cpu-section {
  display: grid;
  place-items: center;
  row-gap: 0.75rem;
}

.human-board,
.cpu-board {
  display: grid;

  /* Box Model */
  width: 348px;
  height: 348px;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* Cells */

.cell {
  /* Grid / Flex Layout */
  display: flex;
  flex: 1;

  /* Box Model */
  position: relative;
  border-right: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-light);

  /* Typography / Visuals */
  background-color: var(--bg-board);
}

.row .cell:nth-child(10) {
  border-right: 0px;
}

.row:nth-child(10) .cell {
  border-bottom: 0px;
}

.cpu-board .cell:hover {
  cursor: crosshair;
}

.human-board .cell:hover {
  cursor: not-allowed;
}

.cell > img {
  /* Box Model */
  position: absolute;
  width: 60%;

  /* Miscellaneous / Interactions */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.ship:not(.sunk) {
  background-image: linear-gradient(
    to right,
    var(--gradient-shine) 0%,
    var(--gradient-bright) 51%,
    var(--gradient-shine) 100%
  );
  background-size: 200% auto;
}

.cell.ship.sunk {
  background-color: var(--bg-sunk-ship);
}

/* Buttons */

.buttons {
  /* Grid / Flex Layout */
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;
  row-gap: 1.25rem;

  /* Typography / Visuals */
  font-size: 12px;
}

.down-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 3rem;
}

.buttons button {
  /* Box Model */
  padding: 0.25rem 1rem;
  width: 11.25rem;
  min-width: max-content;
  border-radius: 0.1875rem;

  /* Typography / Visuals */
  color: var(--text-primary);
  letter-spacing: 0.0625rem;
  text-align: center;
}

.buttons button:hover {
  /* Typography / Visuals */
  color: var(--text-light);

  /* Miscellaneous / Interactions */
  background-position: right center;
}

.buttons button:active {
  box-shadow: none;
}

/* Utilities */

.glow-animation {
  /* Box Model */
  border: 1px solid var(--border-dark);

  /* Typography / Visuals */
  background-image: linear-gradient(
    to right,
    var(--gradient-shine) 0%,
    var(--gradient-bright) 51%,
    var(--gradient-shine) 100%
  );

  /* Miscellaneous / Interactions */
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow:
    inset 0 1px 0 var(--rgba-white-heavy),
    inset 0 -1px 0 var(--rgba-black-heavy),
    0 2px 4px var(--rgba-black-heavy);
}

@media (max-width: 850px) {
  .boards-container {
    flex-direction: column;
    gap: 1.25rem;
  }
}

@media (max-width: 550px) {
  .logo-text {
    /* Box Model */
    margin: 0.375rem; /* 0.625 × 0.6 */

    /* Typography / Visuals */
    font-size: 3rem;
    letter-spacing: 0.075rem; /* 0.125 × 0.6 */

    /* Miscellaneous / Interactions */
    text-shadow:
      0 -0.6px 0 var(--shadow-1),
      0 0.6px 0 var(--shadow-2),
      0 1.2px 0 var(--shadow-3),
      0 1.8px 0 var(--shadow-4),
      0 2.4px 0 var(--shadow-5),
      0 3px 0 var(--shadow-6),
      0 3.6px 0 var(--shadow-7),
      0 4.2px 0 var(--shadow-8),
      0 4.8px 0 var(--shadow-9),
      0 5.4px 0 var(--shadow-10),
      0 6px 0 var(--shadow-11),
      0 6.6px 0 var(--shadow-12),
      0 7.2px 0 var(--shadow-13),
      0 7.8px 0 var(--shadow-14),
      0 8.4px 0 var(--shadow-15),
      0 9px 0 var(--shadow-16),
      0 0.825rem 1.125rem var(--rgba-black-darkest); /* 1.375 × 0.6, 1.875 × 0.6 */
  }

  .info-container {
    font-size: 0.625rem;
  }

  .outter-board-wrap {
    padding: 8px;
  }

  .inner-board-wrap {
    padding: 2px;
  }

  .human-board,
  .cpu-board {
    width: 80vw;
    height: 80vw;
  }

  .buttons button {
    width: 10rem;
  }

  .buttons {
    row-gap: 1rem;
    font-size: 0.625rem;
  }

  .down-buttons {
    grid-template-columns: max-content;
    row-gap: 1rem;
  }
}
