/* CSS Modern Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --background-color: #1b1e22;
  --text-color: #ffffff;
  --primary-color: #00b4d8;
  --hover-background-color: #00b4d8;
  --hover-text-color: #1e1e1e;
  --shadow-color: #000000;
  --error-color: #fc6868;
  --water-color: #0068c9;
  --hit-color: #ff0000;
  --spark-color: #ff3c00;
  --smoke-color: #00000080;
  --ship-color: #4e4e4e;
  --miss-color: #00b7ff;
  --crosshair-color: #00ff22;
}

html {
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content max-content max-content;
  row-gap: 32px;
  height: 100%;
  background-color: rgba(84, 83, 83);
  font-family: 'Progress', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: Progress;
  src: url(/src/fonts/PROGRESS\ PERSONAL\ USE.ttf);
}

.logo-text {
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #6b6a6a;
  margin: 10px;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.info-container {
  position: relative;
  text-align: center;
  width: 25%;
  padding: 4px 32px;
  background:
    radial-gradient(
      ellipse at center,
      rgba(255,255,255,0.18) 0%,
      rgba(255,255,255,0.08) 40%,
      rgba(0,0,0,0.2) 100%
    ),
    linear-gradient(
      to bottom,
      #4a4a4a 0%,
      #3b3b3b 50%,
      #2e2e2e 100%
    );

  color: #e6e6e6;
  letter-spacing: 1px;
  border-radius: 3px;
  border: 1px solid #1f1f1f;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.6),
    0 2px 4px rgba(0, 0, 0, 0.6);
}

.info-container::before,
.info-container::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: radial-gradient(circle, #777 0%, #222 70%);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.info-container::before {
  left: 12px;
}
.info-container::after {
  right: 12px;
}

/* Game Boards */

.boards-container {
  display: flex;
  column-gap: 48px;
}

.outter-board-wrap {
  padding: 1rem;
  position: relative;
  background: rgba(36, 36, 36);
  padding: 9px;
  border-radius: 4px;
}

.inner-board-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #00d2ff 0%, #3a47d5 60%);
  padding: 4px;
}

.inner-board-wrap.enemy {
  background: linear-gradient(to right, purple, red);
}

.human-section,
.cpu-section {
  display: grid;
  row-gap: 12px;
  place-items: center;
}

p {
  color: #e6e6e6;
  font-size: 20px;
}

.human-board,
.cpu-board {
  display: grid;
  width: 348px;
  height: 348px;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

/* Cell Styles */

.cell {
  border-right: 2px solid rgb(175, 171, 171);
  border-bottom: 2px solid rgb(175, 171, 171);
  background-color: rgba(14, 32, 65);
  display: flex;
  flex: 1;
  position: relative;
}

.row .cell:nth-child(10) {
  border-right: 0px;
}

.row:nth-child(10) .cell {
  border-bottom: 0px;
}

.cpu-board .cell:hover {
  cursor: crosshair;
}
.human-board .cell:hover {
  cursor: not-allowed;
}

.cell > img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.ship {
  background-color: #7d848a;
}

.cell.ship.sunk {
  background-color: #480c0c;
}

/* Buttons */

.buttons {
  justify-self: stretch;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  column-gap: 16px;
}
