/* CSS Modern Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  height: 100vh;
}

body {
  display: flex;
  column-gap: 20px;
  height: 100%;
}

@font-face {
  font-family: Progress;
  src: url(/src/fonts/PROGRESS\ PERSONAL\ USE.ttf);
}

.logo-text {
  font-family: 'Progress', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #6b6a6a;
  margin: 10px;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}


.human-board,
.cpu-board {
  display: grid;
  width: 200px;
  height: 200px;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.cell {
  border: 1px solid gray;
  display: flex;
  flex: 1;
}

.cell:hover {
  cursor: pointer;
  background-color: lightgray;
}

.cell.attacked-cell {
    background-color: blue;
}

.cell.ship {
    background-color: black;
}

.cell.ship.attacked-cell {
  background-color: red;
}

.cell.ship.sunk {
  background-color: purple;
}